target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
temp
deploy
gwt-unitCache
www
WEB-INF.deploy.www

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/src/main/resources/static/theme/Default/template/.sass-cache/38f3d15265bc44d52661c9710a6ecb21c2c03149/_css3.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/38f3d15265bc44d52661c9710a6ecb21c2c03149/_support.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/b5e1e64f8d6724643e1f3a069c08beabc2a79810/_hacks.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/c8fbcd9734c2a6daee9e522984c047148836e2f6/_base.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/c8fbcd9734c2a6daee9e522984c047148836e2f6/_fonts.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/c8fbcd9734c2a6daee9e522984c047148836e2f6/_prepared.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/c8fbcd9734c2a6daee9e522984c047148836e2f6/_userStyles.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/c8fbcd9734c2a6daee9e522984c047148836e2f6/skin_styles.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_animation.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_appearance.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_background-clip.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_background-origin.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_background-size.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_border-radius.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_box-shadow.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_box-sizing.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_columns.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_filter.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_flexbox.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_font-face.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_hyphenation.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_images.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_inline-block.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_opacity.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_regions.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_text-shadow.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_transform.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_transition.scssc
/src/main/resources/static/theme/Default/template/.sass-cache/cfec0b0934043baf07970aa42008fc7ff7cf226f/_user-interface.scssc
/src/main/resources/static/theme/Default/template/sass/_prepared.scss
