
$theme_name: "Default" !default;

// ==== Colors - Variables for high-level Colors
// General highlight colors (headers, rollover's, buttons, etc)
$highlight_color: #0E42D2 !default;
$active_text_color: #ffffff !default;
$active_bgColor: #ffffff !default;

// Standard settings
$standard_blue: #0E42D2 !default;
$standard_color: #282828 !default;
$standard_bgColor: #fbfbfb !default;
$standard_border_color: #cccccc !default;

// Headers
$standard_header_dark_bgColor: #0E42D2 !default;
$secondary_header_bgColor: #ffffff !default;

// Widget
$standard_widget_bgColor: #ffffff !default;

// Glow settings
$default_glow_color: #0E42D2 !default;

// Styles for LinkItems and HTML links
$link_color: #0E42D2 !default;
$link_visited_color: #94BFFF !default;
$link_active_color: #94BFFF !default;